unit tests:
  image: $CI_REGISTRY/devtools/images/buildtools:debian-12
  stage: test
  script:
    - mkdir build
    - cd build
    - cmake -DWITH_THREADS=${THREADS} ..
    - make
    - make check ARGS="--verbose -I ${RANGE}"
  parallel:
    matrix:
      - THREADS: ["ON", "OFF"]
        RANGE: ["1,-1,4", "2,-1,4", "3,-1,4", "4,-1,4" ]
  #not working ??
  #rules:
  #  - changes:
  #    - src/*
  #    - tests/*
  #    - benchs/*

test build benchs and examples:
  image: $CI_REGISTRY/devtools/images/buildtools:debian-12
  stage: test
  script:
    - mkdir build
    - cd build
    - cmake -DWITH_THREADS=${THREADS} ..
    - make
    - make benchs_build examples

pages:
  image: $CI_REGISTRY/devtools/images/doxygen:debian-testing
  stage: deploy
  script:
    - mkdir build
    - cd build
    - cmake ..
    - make doc
    - cd ..
    - mv build/doc/html public
  artifacts:
    paths:
      - public
  only:
    - master
